<?xml version="1.0"?>
<configuration>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10"/>
    </connectionManagement>
  </system.net>
  <system.web>
    <httpRuntime maxRequestLength="100000" executionTimeout="600" />
  </system.web>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    <supportedRuntime version="v2.0.50727"></supportedRuntime>
  </startup>
  <appSettings>    
    <add key="ServerIP" value="115.47.44.218"/>    
    <add key="ServerPort" value="4530"/>    
    <add key="OmcsServerIP" value="115.47.44.218"/>    
    <add key="OmcsServerPort" value="9900"/>    
    <add key="SpeakerIndex" value="0"/>   
    <add key="MicrophoneIndex" value="0"/>    
    <add key="CameraIndex" value="0"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
